


<br>

<h3>Notices :</h3>
 <br>

      <ul class="list-group" style="margin-left: 1rem; margin-right: 3rem; margin-bottom: 1rem">
  <li *ngFor="let notice of notices" class="list-group-item list-group-item-action flex-column align-items-start" >
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{notice.title}}</h5>
      <small class="text-muted">{{notice.time_published | date:'medium'}}</small>
    </div>
    <p class="mb-1">{{notice.description}}</p>
  </li>

</ul>
